.app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 5rem;
  text-align: left;
  border: 1px solid #ccc;
}

.search_wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

#search {
  height: 2em;
  font-size: 1.2em;
}

.countries_list {
  padding: 1rem;
  list-style: none
}

.countries_list li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
